{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<h1>{{ title }}</h1>
</ul>
<form method="post">
    {{ form.errors }}
    {% csrf_token %}
    {% for form in forms %}
    {% crispy form %}
    {% endfor %}
    <input type="submit" class="btn btn-primary" />
    {% if delete_url %}
    <a class="btn btn-danger" href="{{delete_url}}">Delete</a>
    {% endif %}
</form>

{% if info_title %}
<h3 class="mt-4">{{info_title}}</h3>
{% endif %}
<ul>
{% for i in info %}
<li>{{i}}</li>
{% endfor %}

{% endblock content %}