{% extends 'base.html' %}
{% block content %}

<div class="d-flex flex-row align-items-center justify-content-between">
    <h1>
        Employments for {{ semester }}
    </h1>
    
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {{ semester }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for s in semesters %}
            <li><a class="dropdown-item" href={% url 'index' s.id %}>{{ s }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="table-responsive">
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Supervisor</th>
            <th>Employment</th>
            <th>Current Pay Rate</th>
            <th>Last Pay Increase</th>
            <th>Pay Increase Amount</th>
            <th>Qualtrics Survey Sent</th>
            <th>EForm Submission</th>
            <th>Work Auth Recieved</th>
            <th>Name Change Complete</th>
        </tr>
    </thead>
    {% for employment in employments %}
        <tr>
            <td>
                <a class="text-decoration-none" href={% url 'edit-student' employment.student.person_id %}>{{employment.student.person.full_name}}</a>
            </td>
            <td>
                <a class="text-decoration-none" href={% url 'edit-instructor' employment.supervisor.person_id %}>{{employment.supervisor.person.full_name}}</a>
            </td>
            <td>
                <a class="text-decoration-none" href={% url 'edit-employment' employment.id %}>
                    {{employment.position_type}}
                    {% if employment.class_code %}({{employment.class_code}}){% endif %}
                </a>
            </td>
            <td>
                <a class="text-decoration-none" href={% url 'update-payrate' employment.id %}>
                    {% if employment.current_pay_rate %}${% endif %}{{ employment.current_pay_rate.pay_rate|default:"None"}}
                </a>
            </td>
            <td>
                {{ employment.current_pay_rate.effective_date|date:"M. d, Y"|default:"None" }}
            </td>
            <td>
                {% if employment.pay_increase_amount %}${% endif %}{{ employment.pay_increase_amount|default:"N/A" }}
            </td>
            <td>
                {{employment.survey_sent|date:"M. d, Y"|default:"No"}}
            </td>
            <td>
                {{employment.eform_submission|date:"M. d, Y"|default:"No"}}
            </td>
            <td>
                {{employment.work_auth_received|date:"M. d, Y"|default:"No"}}
            </td>
            <td>
                {{employment.name_change_complete|date:"M. d, Y"|default:"No"}}
            </td>
        </tr>
    {% endfor %}
</table>
</div>

<a class="btn btn-primary" href={% url 'create-instructor' %}>Create Instructor</a>
<a class="btn btn-primary" href={% url 'create-student' %}>Create Student</a>
<a class="btn btn-primary" href={% url 'create-employment' %}>Create Employment</a>

{% endblock content %}