{% extends 'base.html' %}
{% block content %}

<h1>
    Home Page
</h1>

<p>
    This is the index page with a link to a <a href={% url 'test' %}>second page</a>
</p>

<p>
    <a href={% url 'create-instructor' %}>Create Instructor</a>
    <br />
    <a href={% url 'create-student' %}>Create Student</a>
    <br />
    <a href={% url 'create-employment' %}>Create Employment with Existing Student</a>
</p>

<h2>Instructors (click to edit)</h2>
<ul>
    {% for instructor in instructors %}
        <li>
            <a href={% url 'edit-instructor' instructor.person_id %}>{{instructor.person.full_name}}</a>
        </li>
    {% endfor %}
</ul>

<h2>Students and Their Jobs (click to edit)</h2>
<ul>
    {% for student in students %}
        <li>
            <a href={% url 'edit-student' student.person_id %}>{{student.person.full_name}}</a>
            <ul>
                {% for employment in student.employment_set.all %}
                <li>
                    <a href={% url 'edit-employment' employment.id %}>{{employment.position_type}} for {{employment.supervisor.person.full_name}}</a>
                    {% if employment.class_code %}in class {{employment.class_code}}{% endif %}
                    <ul>
                        {% for semester in employment.semesters.all %}
                        <li>
                            {{semester.season.name}} {{semester.year}}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

{% endblock content %}